.logo {
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAvklEQVQ4T82T0RGCQAxEH53YiXZgCdqBJSgl0AF0YAnaiaU46yRMyB0nM/7ID3MH+7KbTDp+fLqG/gBc7XsPPGr/1gAu1Hsy0ckABSgCsvAGvAywA3QuQAK0hNl1AXKA6HtgBGTTK9cA6ssZeMpVjrAGUuWF0JvqDi7A3ZqmSBEkF3NFE+p8BIYcQdYlVvcdJIDuNEYJ5USOmhEiyB0shFsjxDF+Kv5nhDzrOIW1CLPm2zIpc5xCsU8twKZFfwNjI0uRpQsNNgAAAABJRU5ErkJggg==') 0 1px no-repeat;
  background-size: 16px;
  color: $text;
  font-size: 80%;
  font-weight: 600;
  left: 19px;
  padding: 0 0 0 19px;
  position: absolute;
  top: 7px;
}
